<!--<nav>
    <div class="dropdown">
        <button class="dropbtn">
            <a href="{{ menu.get_full_path }}">{{ menu.name }}</a>
        </button>
        <div class="dropdown-content">
            {% for item in menu.items.all %}
                <a href="{{ item.get_url }}">{{ item.name }}</a>
            {% endfor %}
        </div>
    </div>
</nav>-->

<nav>
    <ul class="topmenu">
        <li>
            <a href="{{ menu.get_url }}" class="active">
                {{ menu.name }} {{ menu.items.all.count }}
                <span class="fa fa-angle-down"></span>
            </a>
            <ul class="submenu">
                {% for first_level_item in menu.items.all %}
                <li>
                    <a href="{{ first_level_item.name.get_url }}">
                        {{ first_level_item.name }}
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="submenu">
                    {% for second_level_item in first_level_item.items.all %}
                        <li><a href="{{ second_level_item.get_url }}">{{ second_level_item.name }}</a></li>
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</nav>